<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Omarchy Parent Add-ons</vendor>
  <action id="org.omarchy.parentaddons.manage">
    <description>Manage parental web controls and private reports</description>
    <message>Enter the parent password to manage web controls or view browsing history</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/omarchy-parent-addons/control</annotate>
  </action>
</policyconfig>
